@inherits MessageListBase;

<div class="flex flex-col gap-3 flex-grow">
    @foreach (var userMessagesBubble in Messages){
        <MessageBubble Messages=@userMessagesBubble User="@userMessagesBubble.First().User"/>
    }
</div>