@inherits MessageListBase;

<div class="flex flex-col gap-3 flex-grow">
    @foreach (var userMessageGroup in Messages){
        <MessageBubble Messages=@userMessageGroup User="@userMessageGroup.First().User"/>
    }
</div>