@page "/"
@using Microsoft.AspNetCore.Authorization
@inherits ChatBase;
@attribute [Authorize]

<div class="flex flex-col flex-grow gap-y-4">
    @if (Initialized){
        <MessageList/>
        <NewMessage/>  
    }
    else{
        <Loading/>
    }
    
</div>