@inherits LoadingBase;
@if (IsLoaded){
    @ChildContent
}
else{
    <div style="position:absolute; top:30vh; width:100%; text-align:center">
        <h1>Pokedexe</h1>
        <p><i class="fas fa-spin fa-spinner"></i> Loading...</p>
    </div>
}