@using Shared.Icons
<section class="w-100 bg-blue-500 bg-opacity-60 p-3 flex justify-between items-center">
    <NavLink href="" ActiveClass="bg-gray-50" Match="NavLinkMatch.All" class="p-2 hover:shadow-xl  m-1 rounded transition-all duration-200">
        <span class="fa fa-home"></span>
    </NavLink>
    <NavLink href="profile" ActiveClass="bg-gray-50" class="p-2 justify-self-end hover:shadow-xl  m-1 rounded transition-all duration-200">
        <span class="far fa-user"></span>
    </NavLink>
</section>