<AuthorizeView>
    <Authorized>
        <span class="border-2 border-white-400">Γειά σου @Username</span>
        <button class="btn-pink" @onclick="BeginSignOut">
            Log out
        </button>
    </Authorized>
    <NotAuthorized>
        <a class="btn-pink" href="authentication/login">Login</a>
    </NotAuthorized>
</AuthorizeView>